@charset "UTF-8";
/*
	@package graffititheme
*/
/*
	Import
	------------------------------------------------
*/
/*
	@package graffititheme
*/
/*
	Variables
	------------------------------------------------
*/
/*
	@package graffititheme
*/
/*
	Mixins
	------------------------------------------------
*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
	@package graffititheme
*/
/*
	Placeholders
	------------------------------------------------
*/
.graffiti-format-image .entry-header, .header-container {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.entry-excerpt.image-caption {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="80000000", GradientType=0 );
}

/*
	@package sunsettheme
*/
/*
	Font Icon
	------------------------------------------------
*/
@font-face {
  font-family: "sunset-icon";
  src: url("../fonts/sunset-icon.eot?o1l4o7");
  src: url("../fonts/sunset-icon.eot?o1l4o7#iefix") format("embedded-opentype"), url("../fonts/sunset-icon.ttf?o1l4o7") format("truetype"), url("../fonts/sunset-icon.woff?o1l4o7") format("woff"), url("../fonts/sunset-icon.svg?o1l4o7#sunset-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sunset-icon";
  src: url("../fonts/icomoon.eot?o1l4o7");
  src: url("../fonts/icomoon.eot?o1l4o7#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?o1l4o7") format("truetype"), url("../fonts/icomoon.woff?o1l4o7") format("woff"), url("../fonts/icomoon.svg?o1l4o7#sunset-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.sunset-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "sunset-icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "";
}

.sunset-twitter:before {
  content: "";
}

.sunset-googleplus:before {
  content: "";
}

.sunset-facebook:before {
  content: "";
}

.sunset-audio:before {
  content: "";
}

.sunset-chevron-left:before {
  content: "";
}

.sunset-chevron-right:before {
  content: "";
}

.sunset-close:before {
  content: "";
}

.sunset-comment:before {
  content: "";
}

.sunset-link:before {
  content: "";
}

.sunset-loading:before {
  content: "";
}

.sunset-logo:before {
  content: "";
}

.sunset-menu:before {
  content: "";
}

.sunset-pencil:before {
  content: "";
}

.sunset-pics:before {
  content: "";
}

.sunset-search:before {
  content: "";
}

.sunset-share:before {
  content: "";
}

.sunset-tag:before {
  content: "";
}

.sunset-video:before {
  content: "";
}

/*
	@package graffititheme
*/
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.aligncenter {
  width: 100%;
  height: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

h1.graffiti-username,
h2.graffiti-description {
  font-weight: 100;
  color: #fff;
}

h1.graffiti-username {
  font-size: 24px;
  margin: 0 0 10px;
}

h2.graffiti-description {
  font-size: 20px;
  margin: 0 0 20px;
}

.graffiti-icon-sidebar {
  color: white;
  margin: 0 2px;
}
.graffiti-icon-sidebar:before {
  width: 22px;
  height: 22px;
  font-size: 22px;
}

.image-container {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.profile-picture {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
	Generic 
	------------------------------------------------
*/
body {
  font-family: "Sedgwick Ave Display", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  background-color: azure;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.no-scroll {
  overflow-y: hidden;
}

.header-container {
  width: 100%;
}

a {
  color: #000000;
  -webkit-transition: color 320ms ease;
  -moz-transition: color 320ms ease;
  -ms-transition: color 320ms ease;
  -o-transition: color 320ms ease;
  transition: color 320ms ease;
}
a:hover, a:focus {
  text-decoration: none;
  color: #333333;
}

.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}
.table .table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* 
	Header 
	------------------------------------------------
*/
.header-container {
  position: relative;
  display: block;
  height: 450px;
}
@media (max-width: 767px) {
  .header-container {
    height: 400px;
  }
}

.site-title {
  color: #004d99;
  text-shadow: 3px 3px lawngreen;
  margin-left: 10px;
  font-size: 52px;
}

.site-description {
  font-size: 52px;
  color: #004d99;
  text-shadow: 3px 3px lawngreen;
  margin-top: -0.1em;
  margin-left: 50px;
}

.nav-container {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
}

/* 
	Nav Bar 
	------------------------------------------------
*/
.navbar-graffiti {
  text-align: center;
  border: none;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0;
  justify-content: flex-end;
  padding: 0 15px;
}
.navbar-graffiti ul {
  float: right;
  display: list-item;
}
.navbar-graffiti li {
  float: none;
  display: inline-block;
  margin-right: 20px;
}
.navbar-graffiti li.active a {
  opacity: 1;
  background-color: white;
}
.navbar-graffiti li.open a {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.navbar-graffiti li.open a:hover, .navbar-graffiti li.open a:focus, .navbar-graffiti li.open a:visited {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.navbar-graffiti li a {
  text-transform: uppercase;
  color: #004d99;
  text-shadow: 3px 3px lawngreen;
  font-size: 38px;
  opacity: 0.9;
  letter-spacing: 0.05em;
  background: none;
  -webkit-transition: opacity 320ms ease;
  -moz-transition: opacity 320ms ease;
  -ms-transition: opacity 320ms ease;
  -o-transition: opacity 320ms ease;
  transition: opacity 320ms ease;
}
.navbar-graffiti li a:hover, .navbar-graffiti li a:focus, .navbar-graffiti li a:visited {
  background-color: white;
  opacity: 1;
}
.navbar-graffiti li ul.dropdown-menu {
  border: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.75);
}
.navbar-graffiti li ul.dropdown-menu li {
  display: block;
}
.navbar-graffiti li ul.dropdown-menu li a:hover, .navbar-graffiti li ul.dropdown-menu li a:focus, .navbar-graffiti li ul.dropdown-menu li a:visited {
  background: rgba(0, 0, 0, 0.25) !important;
  color: #fff;
}

/* 
	Standard Post Format 
	============================================
*/
article {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  article {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

h1 {
  font-size: 48px;
  font-weight: 200;
}
h1.entry-title {
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
h1.entry-title:before, h1.entry-title:after {
  content: "~";
  display: inline-block;
  position: relative;
}
h1.entry-title:before {
  margin-right: 10px;
}
h1.entry-title:after {
  margin-left: 10px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 26px;
  }
}

.entry-meta {
  font-size: 20px;
  font-weight: 200;
  color: #898989;
  margin-bottom: 20px;
}
.entry-meta a {
  font-weight: 500;
  color: #898989;
}
.entry-meta a:hover, .entry-meta a:focus {
  color: red;
}

.standard-featured-link {
  display: block;
  position: relative;
}
.standard-featured-link:hover .standard-featured:after, .standard-featured-link:focus .standard-featured:after {
  background-color: rgba(0, 0, 0, 0);
}

.standard-featured {
  height: 420px;
  display: block;
  position: relative;
}
.standard-featured:after {
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35);
}
@media (max-width: 767px) {
  .standard-featured {
    height: 220px;
  }
}

.entry-excerpt {
  margin: 30px 0 16px;
  text-align: justify;
}
.entry-excerpt p {
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.button-container {
  margin-bottom: 30px;
  margin-top: 30px;
}

.btn-graffiti {
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  color: #333333;
  padding: 8px 12px;
  border-radius: 0;
  border: 3px solid #333333;
  background-color: transparent;
}
.btn-graffiti:hover, .btn-graffiti:focus {
  color: red;
  border-color: red;
  background-color: #333333;
}

.entry-footer {
  padding: 10px 5px;
  border-bottom: 4px solid #333333;
  color: #898989;
  text-transform: uppercase;
}
.entry-footer a {
  color: #898989;
  display: inline-block;
  padding: 0 4px;
  font-size: 18px;
}
.entry-footer a:hover, .entry-footer a:focus {
  color: red;
}
.entry-footer .tags-list .sunset-icon {
  margin-right: 10px;
}
.entry-footer .tags-list a {
  padding: 0 4px;
}
.entry-footer .comments-link .sunset-icon {
  margin-left: 10px;
}

/*
	Image Post Format
	=========================================
*/
.graffiti-format-image .entry-header {
  height: 600px;
  position: relative;
}
@media (max-width: 767px) {
  .graffiti-format-image .entry-header {
    height: 220px;
  }
}
.graffiti-format-image h1,
.graffiti-format-image .entry-header {
  color: navy;
  text-shadow: 3px 3px mediumspringgreen;
}
.graffiti-format-image h1 a,
.graffiti-format-image .entry-header a {
  color: navy;
  text-shadow: 3px 3px mediumspringgreen;
}
.graffiti-format-image .entry-meta {
  color: navy;
  text-shadow: 2px 2px mediumspringgreen;
  font-size: 32px;
}
.graffiti-format-image .entry-meta a {
  color: navy;
  text-shadow: 2px 2px mediumspringgreen;
}
.graffiti-format-image h1 {
  padding-top: 10px;
}

.entry-excerpt.image-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  justify-content: center;
  display: grid;
}
.entry-excerpt.image-caption p {
  margin: 40px 0;
  font-size: 30px;
  text-shadow: 2px 2px mediumspringgreen;
}

/*
	Audio Post Format
	=========================================
*/
.graffiti-format-audio h1 {
  font-size: 30px;
}
.graffiti-format-audio h1.entry-title {
  display: inline-block;
  margin-right: 20px;
}
.graffiti-format-audio h1.entry-title:before, .graffiti-format-audio h1.entry-title:after {
  display: none;
}
.graffiti-format-audio .entry-meta {
  display: inline-block;
  margin-bottom: 0;
}
.graffiti-format-audio .entry-content iframe {
  width: 100%;
  height: 166px;
}

audio {
  width: 100%;
}

/*
	Video Post Format
	=========================================
*/
.graffiti-format-video header h1.entry-title {
  margin-top: 20px;
}
.graffiti-format-video header .embed-responsive iframe {
  height: 500px;
}

/*
	Gallery Post Format
	=========================================
*/
.graffiti-format-gallery header h1.entry-title {
  margin-top: 20px;
}
.graffiti-format-gallery .standard-featured {
  height: 500px;
}
.graffiti-format-gallery .standard-featured:after {
  background-color: transparent;
}
@media (max-width: 767px) {
  .graffiti-format-gallery .standard-featured {
    height: 220px;
  }
}
.graffiti-format-gallery .carousel-control-prev, .graffiti-format-gallery .carousel-control-next {
  background: none;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 30px;
  width: auto;
}
.graffiti-format-gallery .carousel-control-prev .preview-container, .graffiti-format-gallery .carousel-control-next .preview-container {
  position: relative;
  display: block;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  line-height: 0;
  -webkit-transition: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
}
.graffiti-format-gallery .carousel-control-prev .preview-container .sunset-chevron-left, .graffiti-format-gallery .carousel-control-prev .preview-container .sunset-chevron-right, .graffiti-format-gallery .carousel-control-next .preview-container .sunset-chevron-left, .graffiti-format-gallery .carousel-control-next .preview-container .sunset-chevron-right {
  color: white;
}
.graffiti-format-gallery .carousel-control-prev .preview-container .thumbnail-container, .graffiti-format-gallery .carousel-control-next .preview-container .thumbnail-container {
  position: absolute;
  display: block;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background: #999;
  top: 1px;
  -webkit-transition: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.graffiti-format-gallery .carousel-control-prev.right .preview-container, .graffiti-format-gallery .carousel-control-next.right .preview-container {
  padding-left: 80px;
  border-radius: 35.5px 0 0 35.5px;
}
.graffiti-format-gallery .carousel-control-prev.right .preview-container .thumbnail-container, .graffiti-format-gallery .carousel-control-next.right .preview-container .thumbnail-container {
  left: 1px;
}
.graffiti-format-gallery .carousel-control-prev.left .preview-container, .graffiti-format-gallery .carousel-control-next.left .preview-container {
  padding-right: 80px;
  border-radius: 0 35.5px 35.5px 0;
}
.graffiti-format-gallery .carousel-control-prev.left .preview-container .thumbnail-container, .graffiti-format-gallery .carousel-control-next.left .preview-container .thumbnail-container {
  right: 1px;
}
.graffiti-format-gallery .carousel-control-prev:hover .preview-container, .graffiti-format-gallery .carousel-control-next:hover .preview-container {
  background-color: rgba(0, 0, 0, 0.8);
}
.graffiti-format-gallery .carousel-control-prev:hover .preview-container .thumbnail-container, .graffiti-format-gallery .carousel-control-next:hover .preview-container .thumbnail-container {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.graffiti-format-gallery .carousel-caption {
  -webkit-transition: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.graffiti-format-gallery .carousel-caption h5 {
  color: navy;
  text-shadow: 2px 2px mediumspringgreen;
  font-size: 30px;
}
.graffiti-format-gallery:hover .carousel-caption {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/*
	Quote Post Format
	=========================================
*/
.graffiti-format-quote .quote-content {
  font-size: 42px;
  font-weight: 100;
  line-height: 1.3em;
  letter-spacing: 0.03em;
}
.graffiti-format-quote .quote-content p {
  text-shadow: 1px 1px red;
}
.graffiti-format-quote .quote-content p:before, .graffiti-format-quote .quote-content p:after {
  display: inline-block;
  position: relative;
  color: black;
  vertical-align: text-top;
}
.graffiti-format-quote .quote-content p:before {
  content: "“";
  margin-right: 10px;
}
.graffiti-format-quote .quote-content p:after {
  content: "”";
  margin-left: 10px;
}
@media (max-width: 767px) {
  .graffiti-format-quote .quote-content {
    font-size: 22px;
  }
}
.graffiti-format-quote .quote-author {
  color: #898989;
  font-size: 25px;
  letter-spacing: 0.06em;
  text-shadow: 2px 1px black;
}

/*
	Link Post Format
	=========================================
*/
.graffiti-format-link h1.entry-title:before, .graffiti-format-link h1.entry-title:after {
  display: none;
}
.graffiti-format-link h1.entry-title a {
  display: block;
}
.graffiti-format-link h1.entry-title .link-icon span:before {
  display: block;
  color: #fff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  line-height: 1em;
  padding-top: 10px;
}

/*
	Aside Post Format
	=========================================
*/
.graffiti-format-aside .aside-container {
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}
.graffiti-format-aside .aside-featured {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  margin: 0 auto -20px;
}
.graffiti-format-aside .entry-excerpt {
  margin-top: 0;
  margin-right: 10px;
}
.graffiti-format-aside .entry-excerpt p {
  font-size: 16px;
}
.graffiti-format-aside .entry-meta {
  margin-bottom: 5px;
}
.graffiti-format-aside .entry-footer {
  border-bottom: none;
  background-color: lightgrey;
  padding-right: 10px;
}

/*
	Footer Section
	=========================================
*/
.graffiti-footer {
  background-color: #333;
  padding: 20px 0;
  margin-top: 40px;
  display: block;
  color: white;
  font-size: 22px;
}

/*
	Ajax Loading Options
	=========================================
*/
.container-load-previous {
  margin-top: 80px;
  margin-bottom: -40px;
}

.graffiti-posts-container {
  padding-top: 40px;
}
.graffiti-posts-container article {
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
}
.graffiti-posts-container article.reveal {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.btn-graffiti-load {
  display: block;
  width: 200px;
  color: #222;
  font-size: 30px;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 320ms ease;
  -moz-transition: opacity 320ms ease;
  -ms-transition: opacity 320ms ease;
  -o-transition: opacity 320ms ease;
  transition: opacity 320ms ease;
}
.btn-graffiti-load:hover, .btn-graffiti-load:focus, .btn-graffiti-load.loading {
  opacity: 1;
}
.btn-graffiti-load.loading {
  cursor: default;
}
.btn-graffiti-load span {
  display: block;
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*
	Single
	=========================================
*/
.entry-content {
  margin-top: 40px;
  font-size: 23px;
  letter-spacing: 0.02em;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
}
.entry-content a,
.entry-content .graffiti-tooltip,
.entry-content .graffiti-popover {
  cursor: pointer;
  color: red;
}
.entry-content a:hover, .entry-content a:focus,
.entry-content .graffiti-tooltip:hover,
.entry-content .graffiti-tooltip:focus,
.entry-content .graffiti-popover:hover,
.entry-content .graffiti-popover:focus {
  color: red;
}
.entry-content p {
  margin-bottom: 15px;
}
.entry-content b,
.entry-content strong {
  font-weight: 500;
}

.clearfix {
  text-align: justify;
}

.post-link-nav {
  padding: 10px 0;
}
.post-link-nav a {
  padding: 0 5px;
  cursor: pointer;
  color: black;
  font-size: 20px;
}
.post-link-nav a:hover, .post-link-nav a:focus {
  color: red;
}

/*
	Sharing section
	=========================================
*/
.graffiti-shareThis {
  display: block;
  text-align: center;
  border-top: 4px solid #333333;
  padding-top: 10px;
  clear: both;
}
.graffiti-shareThis ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.graffiti-shareThis ul li {
  float: none;
  display: inline-block;
}
.graffiti-shareThis a {
  display: inline-block;
  font-size: 25px;
  opacity: 0.65;
  margin: 0 5px;
  color: #000000;
}
.graffiti-shareThis a:hover, .graffiti-shareThis a:focus {
  opacity: 1;
  color: red;
}

/*
	Comment section
	=========================================
*/
.comments-area {
  border-top: 4px solid black;
  margin-top: 40px;
}
.comments-area .comments-title {
  margin-top: 20px;
}
.comments-area .comment-reply-title {
  margin-top: 20px;
}
.comments-area .logged-in-as {
  font-size: 20px;
}
.comments-area .comment-form-comment label {
  font-size: 20px;
}
.comments-area .comment-notes {
  font-size: 20px;
}

.last-field {
  margin-bottom: 50px;
}

.comments-list {
  padding: 0;
  list-style: none;
}

.comment-body {
  padding-bottom: 0;
}

.children {
  background-color: #f5f5f5;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
  margin-left: 60px;
}
.children .comment-author:before {
  background-color: #fff;
}

.comment-author {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 300;
}
.comment-author:before {
  position: absolute;
  content: "";
  display: block;
  top: 10px;
  bottom: 13px;
  left: 40px;
  right: 0;
  background-color: #c82333;
  z-index: 1;
  border-radius: 4px;
}
.comment-author * {
  z-index: 1;
  position: relative;
}
.comment-author b {
  font-weight: 400;
}
.comment-author .avatar {
  border-radius: 50%;
  margin-right: 10px;
  border: 3px solid #fff;
}

.comment-metadata {
  text-align: right;
  text-transform: uppercase;
  margin-top: -5px;
  font-size: 12px;
}
.comment-metadata a {
  color: #999;
  font-size: 15px;
}
.comment-metadata .comment-edit-link {
  color: black;
}
.comment-metadata .comment-edit-link:hover, .comment-metadata .comment-edit-link:focus {
  color: red;
}

.comment-content {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 300;
  border-bottom: 1px solid #e6e6e6;
  margin-left: 60px;
}

.reply {
  text-align: right;
  padding: 5px 0;
}

a.comment-reply-link {
  text-transform: uppercase;
  color: black;
}
a.comment-reply-link:hover, a.comment-reply-link:focus {
  color: red;
}

.comment-respond {
  margin-top: 60px;
}

/*
	Sidebar section
	=========================================
*/
.graffiti-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 3;
  display: none;
  cursor: e-resize;
}

.graffiti-sidebar {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #1f1f1f;
  color: #fff;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  -webkit-transition: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
}
.graffiti-sidebar.sidebar-closed {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.graffiti-sidebar a {
  color: #ffffff;
}
.graffiti-sidebar a:hover, .graffiti-sidebar a:focus {
  color: red;
}

.graffiti-sidebar-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  padding: 40px 10px 20px;
}

.sidebar-scroll {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sidebar-close,
.sidebar-open {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.sidebar-open {
  left: auto;
  right: 20px;
  top: 20px;
}
.sidebar-open span {
  color: #fff;
}

/*
    Widgets section
	=========================================
*/
.widget-area {
  letter-spacing: 0.2px;
  margin-bottom: 25px;
}
.widget-area ul {
  list-style: none;
  padding: 0;
  margin-left: 25%;
}
.widget-area li {
  padding: 0 10px;
  margin-bottom: 10px;
}

h2.widgettitle {
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  background-color: #303030;
  padding: 10px;
  border-radius: 20px;
  line-height: 1.2em;
  margin-bottom: 20px;
  margin-top: 20px;
  letter-spacing: 0.2px;
}

.tagcloud {
  text-align: center;
}
.tagcloud a {
  display: inline-block;
  background-color: #7d7d7d;
  padding: 1px 9px;
  border-radius: 10px;
  color: #eeeeee;
  margin: 3px;
}

.cat-item {
  position: relative;
  display: flex;
}
.cat-item a,
.cat-item span {
  display: block;
  line-height: 1em;
  font-size: 20px;
}
.cat-item a {
  padding: 2px 0;
  margin-right: 10px;
}
.cat-item span {
  position: absolute;
  right: 25px;
  top: 2px;
  font-size: 20px;
  font-weight: 600;
  padding: 2px 7px 5px;
  background-color: #7D7D7D;
  border-radius: 10px;
}

.recentcomments {
  font-size: 18px;
  color: #ccc;
}
.recentcomments a {
  text-transform: uppercase;
}
.recentcomments span, .recentcomments span a {
  display: block;
  color: #fff;
  font-size: 18px;
  padding-bottom: 4px;
  margin-bottom: 2px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.06);
  text-transform: none;
}

.media {
  padding-bottom: 10px;
}
.media .media-left {
  padding-right: 10px;
}
.media .media-body {
  font-size: 20px;
}

.post-footer-container {
  margin-right: 22px;
  margin-left: 12px;
  margin-top: 10px;
}
.post-footer-container .tags-list {
  font-size: 18px;
}
.post-footer-container .comments-link {
  font-size: 18px;
}

/*
    Contact form
	=========================================
*/
.graffiti-contact-form {
  padding: 40px 0;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.graffiti-contact-form .form-group {
  margin-bottom: 30px;
  position: relative;
}
.graffiti-contact-form .form-group:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #cbcbcb;
}
.graffiti-contact-form .form-group .form-control-msg {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}
.graffiti-contact-form .form-group.is-invalid:before {
  background-color: #a94442;
}

.graffiti-form-control {
  resize: vertical;
  border: none;
  border-radius: 0;
  padding: 8px 15px;
  outline: none;
  box-shadow: none !important;
  --webkit-box-shadow: none !important;
}
.graffiti-form-control::-webkit-input-placeholder {
  text-transform: uppercase;
}
.graffiti-form-control::-moz-placeholder {
  text-transform: uppercase;
}
.graffiti-form-control:-moz-placeholder {
  text-transform: uppercase;
}
.graffiti-form-control:hover, .graffiti-form-control:focus, .graffiti-form-control:active {
  box-shadow: none;
}

.btn-graffiti-form {
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  color: #fff;
  padding: 14px 60px;
  font-size: 26px;
}
.btn-graffiti-form:hover, .btn-graffiti-form:focus, .btn-graffiti-form:active {
  color: #fff;
}

.form-control-msg {
  display: none;
}

.is-invalid .form-control-msg {
  display: block;
}

.js-show-feedback {
  display: block;
}

/*
    Sidebar menu
	=========================================
*/
.navbar-nav.mr-auto.mt-2.mt-lg-0 li {
  font-size: 25px;
}

/*
    Additional widgets
	=========================================
*/
.search-form {
  margin-left: 10%;
}
.search-form .search-field {
  border: 2px solid grey;
  height: 36px;
}
.search-form .search-submit {
  border: 2px solid grey;
  margin-left: 30%;
  height: 36px;
}
.search-form .search-submit:hover, .search-form .search-submit:focus {
  color: red;
}

/*# sourceMappingURL=graffiti.css.map */
