/*
	@package graffititheme
*/

/*
	Variables
	------------------------------------------------
*/
$icon-font : 'sunset-icon';
$body-font : 'Sedgwick Ave Display', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$primary-color : #000000;
$dark-grey : #333333;
$grey: #656565;
$light-grey : #898989;
$lighter-grey : #F1F1F1;
$red : red;

// Media Queries

$xs: 767px;