#wpcontent {
  font-family: 'Sedgwick Ave Display', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, .form-table th, .form-wrap label {
  font-weight: 500;
}

.graffiti-general-form,
.graffiti-sidebar-preview {
  display: inline-block;
  float: left;
}

.graffiti-sidebar-preview {
  width: 280px;
  background-color: #1F1F1F;
  padding: 20px;
  text-align: center;
  margin-right: 20px;
}

.graffiti-sidebar {
  display: block;
  text-align: center;
}